[client]
user=root
password="{{mysql_password.stdout}}"

[mysql]
user=root
password="{{mysql_password.stdout}}"

[mysqldump]
user=root
password="{{mysql_password.stdout}}"

[mysqldiff]
user=root
password="{{mysql_password.stdout}}"
