[client]
user=root
password="{{_mysql_password_generated.stdout}}"

[mysql]
user=root
password="{{_mysql_password_generated.stdout}}"

[mysqldump]
user=root
password="{{_mysql_password_generated.stdout}}"

[mysqldiff]
user=root
password="{{_mysql_password_generated.stdout}}"
